* {
    font-family: "Lucida Console", "Courier New", monospace;
}
.header{
    background-image: url('./images/2.jpg');
    margin:-8 -8 0px -8;
    right: 0;
    display: block;
    background-color: black;
    color: white;
    height: 15%;
    text-align: center;
    justify-content: center;
    line-height: 110px;
    font-size: large;
    text-shadow: 1px 2px 4px white;
    box-shadow: 0px 0px 4px black;
    position: sticky;
    top: 0;
}
.footer{
    background-image: url('./images/5.jpg');
    color: white;
    height: 300px;
    width: 100%;
    left: 0;
    position: relative;
    bottom: -220;
    line-height: 70px;
    text-align: center;
    font-size: large;
    font-family: "Lucida Console", "Courier New", monospace;
}
body{
    background-color: white;
}
.main-container{
    margin: 10px 0 10px 0;
    display: flex;
    background-color: white;
    flex-direction:row;
    font-family: "Lucida Console", "Courier New", monospace;
}
.gta{
    padding-bottom: 10px;
}
.gta:hover{
    color: antiquewhite;
    text-shadow: 4px 2px 4px white;
    
}
.side-menu{
    
    float: left;
    width: 22%;
}
.ok{
    background-image: url('./images/3.jpg');
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main-menu{
    background-image: url('./images/1.jpg');
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78%;
    margin-left: 7px;
    background-color: brown;
}
.profile-pic{
    margin: 60px 0 0 0;
    box-shadow: 3px 3px 3px 3px black;
    
}
.skill-list{
    background-color: white;
    letter-spacing: 2px;
    color:black;
    width: 100%;
    text-align: center;
    margin-top: 7px;
    background-image: url('./images/1.jpg');

}
.skill-list:hover{
    background-image: url('./images/3.jpg');
}
li {
    list-style-type:none;
}
.second-container{
    display: flex;
    background-color: white;
    flex-direction:row;
    margin: -8px 0 10px 0;
    text-align: center;
    justify-content: center;
    align-items: center;

    
}
.imgdiv{
    justify-content: center;
    align-items: center;
    margin: 25px 0 15px 0;
    box-shadow: 4px 2px 8px black;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
}
.common{
    float: left;
    width: 33.3%;
    color: black;
    background-color:aqua;  
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}
#card1{
    background-color: white;
    margin: 0 50px 0 0;
}
#card2{
    background-color: white;
}
#card3{
    background-color: white;
    margin: 0 0 0 50px;
}























.info{
    display: flex;
    flex-direction: row;
}
.left-info, .right-info {
    flex-grow: 1;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left-info{
    float: left;
}
.right-info{
    float: right;
}
.social-contact{
    display: flex;
    flex-direction: row;
}
.gf1, .gf2, .gf3{
    float: left;
    display: block;
    flex-grow: 1;
    height: 27px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #cd486b;
    color: white;
  }
  











